<p id="notice"><%= notice %></p>

<p>
  <b>Plataform:</b>
  <%= @user.plataform_id %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Wallet:</b>
  <%= @user.wallet %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
