<h1>Listing accounts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Client</th>
    <th>Fee</th>
    <th>Bank account</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.user_id %></td>
    <td><%= account.client_id %></td>
    <td><%= account.fee %></td>
    <td><%= account.bank_account %></td>
    <td><%= account.amount %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
